PIGLET_MODEL_PATH=best.pt
PIGLET_OUTPUT_DIR=./temp_data
PIGLET_CAMERA_USERNAME=admin
PIGLET_CAMERA_PASSWORD=replace_with_camera_password
PIGLET_CAMERA_IP_PREFIX=192.168.1
PIGLET_CAMERA_PORT=554
PIGLET_CAMERA_CHANNEL=101
